body{
  width: 90%;
  margin: 30px auto;
  
}


h1{
  color: brown;
  margin: 30px 0;
}

nav{
  display: flex;
  justify-content: space-between;
  border-bottom: none;
}

a{
  color: crimson;
}

main{
  height: 50vh;
  background-color: darkslateblue;
  
}

form{
  display: flex;
}