body{
  width: 90%;
  margin: 30px auto;
  
}


h1{
  color: brown;
  margin: 30px 0;
}

nav{
  display: flex;
  justify-content: space-between;
  border-bottom: none;
}

a{
  color: crimson;
}

main{
  height: 50vh;
  background-color: darkslateblue;
  
}

form{
  display: column;
}

.login_btn{
  width: 40px;
  background-color: cadetblue;
  color: white;
  border-radius: 3px;
}

.login_btn2{
  width: 90px;
  background-color: blue;
  color: white;
  border-radius: 5px;
}