body{
  width: 90%;
  margin: 30px, auto;
  height: 50%;
}


h1{
  color: brown;
  margin: 30px 30px;
}

nav{
  display: flex;
  justify-content: space-between;
}

a{
  color: crimson;
}

main{
  background-color: darkslateblue;
 
}